{% extends 'PrivateLessonsDocManagerBundle:Default:layout.html.twig' %}

{% block content %}
<table class="table table-striped table-bordered">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Categories</th>
		<th></th>
	</tr>
	{% for document in documents %}
	<tr>
		<td>{{ document.title }}</td>
		<td>{{ document.author.name }}</td>
		<td>
			{% for category in document.categories %}
				{{ category.name }}
				{%- if not loop.last -%}
					,
				{%- endif -%}
			{% endfor %}
		</td>
		<td>
			{% include "PrivateLessonsDocManagerBundle:Document:actions.html.twig" %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}