<div class="btn-group">
	<button class="btn btn-mini">Details</button>
	<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#">Edit</a></li>
		<li><a href="#">Delete</a></li>
	</ul>
</div>