{% extends 'PrivateLessonsDocManagerBundle:Default:layout.html.twig' %}

{% block content %}
<table class="table table-striped table-bordered">
	<tr>
		<th>Name</th>
		<th></th>
	</tr>
	{% for author in authors %}
	<tr>
		<td>{{ author.name }}</td>
		<td>
			{% include "PrivateLessonsDocManagerBundle:Author:actions.html.twig" %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}