<!DOCTYPE html>
<html>
	<head>
		<title>DocManager</title>
		<link href="{{ asset('bundles/privatelessonsdocmanager/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/privatelessonsdocmanager/css/styles.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ asset('bundles/privatelessonsdocmanager/js/jquery-1.7.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/privatelessonsdocmanager/js/bootstrap.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="navbar navbar-fixed-top">
  						<div class="navbar-inner">
    						<div class="container">
      							<a class="brand" href="#">DocManager</a>
    						</div>
  						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<ul class="nav nav-tabs">
  						<li class="active">
    						<a href="#">Documents</a>
  						</li>
  						<li><a href="#">Authors</a></li>
  						<li><a href="#">Categories</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<table class="table table-striped table-bordered">
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Categories</th>
							<th></th>
						</tr>
						<tr>
							<td>title_1</td>
							<td>author_1</td>
							<td>category_1, category_2</td>
							<td>
								<div class="btn-group">
 									<button class="btn btn-mini">Download</button>
  									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    									<span class="caret"></span>
  									</button>
  									<ul class="dropdown-menu">
    									<li><a href="#">Edit</a></li>
    									<li><a href="#">Delete</a></li>
  									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>title_1</td>
							<td>author_1</td>
							<td>category_1, category_2</td>
							<td>
								<div class="btn-group">
 									<button class="btn btn-mini">Download</button>
  									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    									<span class="caret"></span>
  									</button>
  									<ul class="dropdown-menu">
    									<li><a href="#">Edit</a></li>
    									<li><a href="#">Delete</a></li>
  									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>title_1</td>
							<td>author_1</td>
							<td>category_1, category_2</td>
							<td>
								<div class="btn-group">
 									<button class="btn btn-mini">Download</button>
  									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    									<span class="caret"></span>
  									</button>
  									<ul class="dropdown-menu">
    									<li><a href="#">Edit</a></li>
    									<li><a href="#">Delete</a></li>
  									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>title_1</td>
							<td>author_1</td>
							<td>category_1, category_2</td>
							<td>
								<div class="btn-group">
 									<button class="btn btn-mini">Download</button>
  									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    									<span class="caret"></span>
  									</button>
  									<ul class="dropdown-menu">
    									<li><a href="#">Edit</a></li>
    									<li><a href="#">Delete</a></li>
  									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>title_1</td>
							<td>author_1</td>
							<td>category_1, category_2</td>
							<td>
								<div class="btn-group">
 									<button class="btn btn-mini">Download</button>
  									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    									<span class="caret"></span>
  									</button>
  									<ul class="dropdown-menu">
    									<li><a href="#">Edit</a></li>
    									<li><a href="#">Delete</a></li>
  									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>